# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Optional local configurations and secrets
include/secrets.h
*.local

# Compiled binaries
release/
*.bin
